.container-main {
  border: 5px solid black;
  display: grid;
  grid-template-columns: max(150px, 15%) 1fr max(150px, 15%);
  grid-template-rows: 1fr auto auto;
  gap: 5px;
}

.navbar {
  background-color: red;
  grid-row: 1 /4;
}

.header {
  background-color: blue;
  grid-column: 2 /4;
}

.content {
  background-color: yellow;
  grid-row: 2/4;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.content p {
  border: 2px solid hotpink;
}

.right-side {
  background-color: green;
  grid-row: 2/4;
}
