* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'swansea';
  src: url(./swansea-font/Swansea.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'swansea';
  src: url(./swansea-font/SwanseaBold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'swansea';
  src: url(./swansea-font/SwanseaItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'swansea';
  src: url(./swansea-font/SwanseaBoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: swansea;
}

.container-main {
  border: 5px solid black;
  display: grid;
  grid-template-columns: max(190px, 15%) 1fr max(180px, 15%);
  grid-template-rows: 1fr auto auto;
  gap: 5px;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

/* navbar styling */
.navbar {
  background-color: red;
  grid-row: 1 /4;
  color: white;
}

.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.navbar-header .icon {
  height: 3rem;
  width: 3rem;
}

.navbar nav {
  display: grid;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.navbar svg {
  height: 1.3rem;
  width: 1.3rem;
}

.navbar-top,
.navbar-bottom {
  display: grid;
  margin-left: 20px;
}

.navbar-top div,
.navbar-bottom div {
  display: flex;
  align-items: center;
}

.navbar-top {
  margin-bottom: 40px;
}

/* header styling */
.header {
  background-color: blue;
  grid-column: 2 /4;
  color: white;
  display: grid;
  grid-template-rows: 50px 70px;
}

.header .icon {
  height: 2rem;
  width: 2rem;
  margin: 0 10px;
}

.header .search {
  margin-left: 25px;
}
.header-top {
  display: flex;
  align-items: center;
}

.header-top p {
  margin: 0 20px;
  font-size: 1.5rem;
}

.search-bar {
  min-width: 100px;
  flex: 1;
  border-radius: 10px;
  height: 40px;
  margin: 0 40px 0 20px;
  background-color: lightgrey;
}

.header-bot {
  display: grid;
  grid-template-columns: 100px 1fr 450px;
  align-items: center;
}

.header-bot .icon-large {
  height: 4rem;
  width: 4rem;
  margin: 0 20px;
}

.header-bot p {
  margin: 0;
}
.header-bot .username-large {
  font-size: 1.5rem;
}
.file-tools {
  margin-right: 40px;
}
button {
  border-radius: 25px;
  height: 40px;
  width: 95px;
  font-size: 1.1rem;
  margin: 0 10px;
  color: white;
  border: 3px solid white;
  background-color: blue;
}

/* Content Styling */
.content {
  background-color: yellow;
  grid-row: 2/4;
  display: grid;
  gap: 5px;
  grid-template-rows: 60px 1fr;
}
.content-cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
  border-radius: 10px;
  border-left: 10px solid black;
  background-color: azure;
  /*  box-shadow: 5px 5px lightgray; */
}
.content p {
  height: fit-content;
  margin: 15px 25px;
}

.content svg {
  height: 1.5rem;
  width: 1.5rem;
}

.card-icons {
  width: 90px;
  margin-left: auto;
  margin-right: 25px;
}

.right-side {
  background-color: green;
  grid-row: 2/4;
}

.right-side svg {
  height: 1rem;
  width: 1rem;
}
