* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'swansea';
  src: url(./swansea-font/Swansea.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'swansea';
  src: url(./swansea-font/SwanseaBold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'swansea';
  src: url(./swansea-font/SwanseaItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'swansea';
  src: url(./swansea-font/SwanseaBoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
}

.container-main {
  border: 5px solid black;
  display: grid;
  grid-template-columns: max(190px, 15%) 1fr max(180px, 15%);
  grid-template-rows: 1fr auto auto;
  gap: 5px;
}

h1 {
  font-family: swansea;
  font-weight: bold;
  font-size: 2rem;
}

/* navbar styling */
.navbar {
  background-color: red;
  grid-row: 1 /4;
  color: white;
}

.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.navbar-header svg {
  height: 3rem;
  width: 3rem;
}

.navbar nav {
  display: grid;
}

nav a {
  font-family: swansea;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.navbar svg {
  height: 1.2rem;
  width: 1.2rem;
}

.navbar-top,
.navbar-bottom {
  display: grid;
  margin-left: 20px;
}

.navbar-top div,
.navbar-bottom div {
  display: flex;
  align-items: center;
}

.navbar-top {
  margin-bottom: 40px;
}

.header {
  background-color: blue;
  grid-column: 2 /4;
  color: white;
  display: grid;
  grid-template-rows: 50px 50px;
}

.header-top {
  display: flex;
}

.header-bot {
  display: flex;
}

.content {
  background-color: yellow;
  grid-row: 2/4;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.content p {
  border: 2px solid hotpink;
}

.right-side {
  background-color: green;
  grid-row: 2/4;
}
